```html
<div class="password-input-container">
  <input
    type="password"
    [ngClass]="{'show-password': showPassword}"
    (focus)="showPassword = true"
    (blur)="showPassword = false"
    (click)="showPassword = true"
    placeholder="Enter password"
    [(ngModel)]="password"
    name="password"
    id="password"
  />
  <button
    type="button"
    class="eye-icon"
    (click)="togglePasswordVisibility()"
    [ngClass]="{'show': showPassword, 'hide': !showPassword}"
  >
    <i [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
  </button>
</div>
```