

```html
<div class="signup-container">
  <div class="signup-card">
    <h1>Create Account</h1>
    <p>Sign up to get started</p>

    @if (error()) {
      <div class="error-msg">{{ error() }}</div>
    }

    <form (ngSubmit)="signUp()" class="signup-form">
      <div class="form-group">
        <input
          type="text"
          [(ngModel)]="displayName"
          name="displayName"
          placeholder="Full Name"
          autocomplete="name"
          [disabled]="submitting()"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          autocomplete="email"
          [disabled]="submitting()"
        />
      </div>
      <div class="form-group password-input">
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          autocomplete="new-password"
          [disabled]="submitting()"
        />
        <button type="button" class="toggle-password-visibility" (click)="togglePasswordVisibility()">
          <i class="fa fa-eye" *ngIf="!passwordVisible"></i>
          <i class="fa fa-eye-slash" *ngIf="passwordVisible"></i>
        </button>
      </div>
      <div class="form-group password-input">
        <input
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
          autocomplete="new-password"
          [disabled]="submitting()"
        />
        <button type="button" class="toggle-password-visibility" (click)="togglePasswordVisibility()">
          <i class="fa fa-eye" *ngIf="!passwordVisible"></i>
          <i class="fa fa-eye-slash" *ngIf="passwordVisible"></i>
        </button>
      </div>
      <button type="submit" class="primary-btn" [disabled]="submitting()">
        @if (submitting()) {
          <span class="spinner"></span>
          <span>Creating account...</span>
        } @else {
          <span>Sign Up</span>
        }
      </button>
    </form>

    <p class="login-link">
      Already have an account? <a routerLink="/login">Sign In</a>
    </p>
  </div>
</div>
```

Note: The new file for `password-input.component.ts` is not included here as it was not provided in the original question. However, it would be created following the same guidelines and naming conventions mentioned in the question. The `togglePasswordVisibility()` function would also be added to the corresponding component's TypeScript file to handle the password visibility toggle.